@model KPK_CalcSite.Models.SnowLoads.BuildingData
<ul>
    <li><strong>Zone:</strong> @Model.BuildingSite.CurrentZone</li>
    @if (@Model.BuildingSite.CurrentZone != SnowLoads.ZoneEnum.SecondZone &&
        Model.BuildingSite.CurrentZone != SnowLoads.ZoneEnum.FourthZone)
    {
        <li><strong>Attitude:</strong> @Model.BuildingSite.AltitudeAboveSea meters above sea-level</li>
    }
    <li><strong>Topography:</strong> @Model.BuildingSite.CurrentTopography</li>
    <li><strong>Exposure coefficient:</strong> @Math.Round(Model.BuildingSite.ExposureCoefficient,3)</li>
    <li><strong>Thermal coefficient:</strong> @Math.Round(Model.Building.ThermalCoefficient,3)</li>
    <li><strong>Characteristic snow load:</strong> @Math.Round(Model.SnowLoad.DefaultCharacteristicSnowLoad,3) kN/m<sup>2</sup></li>

    @if(Model.SnowLoad.ReturnPeriod != 50)
    {
    <li><strong>Return period:</strong> @Model.Building.SnowLoad.ReturnPeriod years</li>
    <li><strong>Snow load for specific return period:</strong> @Math.Round(Model.SnowLoad.SnowLoadForSpecificReturnPeriod,3) kN/m<sup>2</sup></li>
    }

    <li><strong>Current design situation:</strong> @Model.SnowLoad.CurrentDesignSituation</li>
    <li><strong>Exceptional situation:</strong> @Model.SnowLoad.ExcepctionalSituation</li>
    @if (@Model.SnowLoad.ExcepctionalSituation)
    {
        <li><strong>Exceptional snow load coefficient:</strong> @Math.Round(Model.SnowLoad.ExceptionalSnowLoadCoefficient,3)</li>
        <li><strong>Exceptional snow load:</strong> @Math.Round(Model.SnowLoad.DesignExceptionalSnowLoadForSpecificReturnPeriod,3) kN/m<sup>2</sup></li>
    }
</ul>