@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3>Select proper roof type</h3>
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("MonopitchRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/Monopitch.png" alt="Monopitch Roof" />
            </div>
        </a>
        <a href="@Url.Action("PitchedRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/PitchedRoof.png" alt="Pitched Roof" />
            </div>
        </a>
        <a href="@Url.Action("MultispanRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/MultispanRoof.png" alt="Multispan Roof" />
            </div>
        </a>

        <a href="@Url.Action("SnowOverhanging", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/SnowOverhanging.png" alt="Snow Overhanging" />
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("CylindricalRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/CylindricalRoof.png" alt="Cylindrical Roof" />
            </div>
        </a>
        <a href="@Url.Action("RoofAbuttingToTallerConstruction", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/RoofAbuttingToTallerConstruction_1.png" alt="Roof Abutting To Taller Construction" />
            </div>
        </a>
        <a href="@Url.Action("DriftingAtProjectionsObstructions", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/DriftingAtProjectionsObstructions.png" alt="Drifting At Projections Obstructions" />
            </div>
        </a>
        <a href="@Url.Action("Snowguards", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/Snowguards.png" alt="Snowguards" />
            </div>
        </a>
    </div>
</div>

<h3>Exceptional snow drifts</h3>
<h3>Select proper roof type</h3>
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("ExceptionalMultispanRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalMultispanRoof.png" alt="Exceptional Multispan Roof" />
            </div>
        </a>
        <a href="@Url.Action("ExceptionalRoofAbuttingToTallerConstruction", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalRoofAbuttingToTallerConstruction.png" alt="Exceptional Roof Abutting To Taller Construction" />
            </div>
        </a>
        <a href="@Url.Action("ExceptionalSnowBehindParapet", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalSnowBehindParapet.png" alt="Exceptional Snow Behind Parapet" />
            </div>
        </a>
    </div>
    <div class="col-md-6">

        <a href="@Url.Action("ExceptionalObstructionOnFlatRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalObstructionOnFlatRoof.png" alt="Exceptional Obstruction On Flat Roof" />
            </div>
        </a>
        <a href="@Url.Action("ExceptionalOverDoorOrLoadingBay", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalOverDoorOrLoadingBay.png" alt="Exceptional Over Door Or Loading Bay" />
            </div>
        </a>
        <a href="@Url.Action("ExceptionalObstructionOnPitchedOrCurvedRoof", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalObstructionOnPitchedOrCurvedRoof.png" alt="Exceptional Obstruction On Pitched Or Curved Roof" />
            </div>
        </a>
        <a href="@Url.Action("ExceptionalSnowBehindParapetAtEaves", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalSnowBehindParapetAtEaves.png" alt="Exceptional Snow Behind Parapet At Eaves" />
            </div>
        </a>

        <a href="@Url.Action("ExceptionalSnowInValleyBehindParapet", "SnowLoads")">
            <div class="snow-load-case">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalSnowInValleyBehindParapet.png" alt="Exceptional Snow In Valley Behind Parapet" />
            </div>
        </a>
    </div>
</div>


