@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    ViewBag.Title = "DriftingAtProjectionsObstructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drifting At Projections Obstructions</h2>

<div class="submit-container">
    @using (Html.BeginForm("CalculateDriftingAtProjectionsObstructions", "SnowLoads"))
    {
        <div class="row">

            <div class="col-sm-6">
                <div class="snow-load-case">
                    <a href="@Url.Action("Calculator", "SnowLoads")">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/DriftingAtProjectionsObstructions.png" alt="Drifting At Projections Obstructions" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6">

                @Html.Partial("_BuildingSite", Model, new ViewDataDictionary() { { "Exceptional", false } })


                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadDriftingAtProjectionsObstructions.
               BuildingData.SnowLoad.SnowDensity, "Snow density")
                    <select onchange="checkSnowType(this.value)" id="snowType">
                        <option value="fresh">Fresh</option>
                        <option value="settled" selected>Settled</option>
                        <option value="old">Old</option>
                        <option value="wet">Wet</option>
                    </select>
                    <input type="number" min="2.5" max="3.5" step=".1" value="2.5"
                           id="snowDensity" class="form-control collapse" onchange="checkSnowType('old')" />
                    @Html.TextBoxFor(m => m.SnowLoadDriftingAtProjectionsObstructions.
               BuildingData.SnowLoad.SnowDensity,
               new { @class = "form-control collapse", @placeholder = "Enter snow density in kN/m3",
                   Value = "2", @type = "text", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadDriftingAtProjectionsObstructions.
               DriftingAtProjectionsObstructions.ObstructionHeight)
                    @Html.TextBoxFor(m => m.SnowLoadDriftingAtProjectionsObstructions.
               DriftingAtProjectionsObstructions.ObstructionHeight,
                   new { @class = "form-control", @placeholder = "Enter obstruction height in meters", Value = "",
                       @type = "number", @step = ".1" })
                </div>
                <div class="form-group">
                    <button type="submit" name="calculate" id="calculate" value="calculate" class="btn btn-info pull-right" required="required">Calculate</button>
                </div>
            </div>
        </div>
    }

</div>
@Scripts.Render("~/Scripts/snow.loads.js")
