@model KPK_CalcSite.Models.SnowLoads.SnowLoadDriftingAtProjectionsObstructions
@{
    ViewBag.Title = "DriftingAtProjectionsObstructionsResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drifting At Projections Obstructions Result</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_BuildingSiteResult", Model.BuildingData)
            <ul>
                <li><strong>Snow density:</strong> @Model.DriftingAtProjectionsObstructions.Building.SnowLoad.SnowDensity kN/m<sup>3</sup></li>
            </ul>
        </div>
        <div class="col-md-6">           
            <ul>
                <li><strong>Obstruction height:</strong> @Model.DriftingAtProjectionsObstructions.ObstructionHeight m</li>
                <li><strong>Drift length:</strong> @Math.Round(Model.DriftingAtProjectionsObstructions.DriftLength,3) m</li>
                <li><strong>First shape coefficient:</strong> @Math.Round(Model.DriftingAtProjectionsObstructions.
                                                             FirstShapeCoefficient,3)</li>
                <li><strong>Second shape coefficient:</strong> @Math.Round(Model.DriftingAtProjectionsObstructions.
                                                              SecondShapeCoefficient,3)</li>
            </ul>

            <h3>Snow load on roof:</h3>
            <ul>
                <li class="score">
                    <strong>Closer to the obstruction:</strong> @Math.Round(Model.DriftingAtProjectionsObstructions.
                                                                   SnowLoadOnRoofValue, 3) kN/m<sup>2</sup>
                </li>
                <li class="score">
                    <strong>Away from the obstruction:</strong> @Math.Round(Model.DriftingAtProjectionsObstructions.
                                                                    SnowLoadOnRoofValueAtTheEnd, 3) kN/m<sup>2</sup>
                </li>
            </ul>

                <a href="@Url.Action("Calculator", "SnowLoads")">
            <div class="snow-load-case">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/DriftingAtProjectionsObstructions.png" alt="Drifting At Projections Obstructions" />
            </div>
                </a>
        </div>
    </div>
</div>