@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    ViewBag.Title = "ExceptionalRoofAbuttingToTallerConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exceptional Roof Abutting To Taller Construction</h2>

<div class="submit-container">

    @using (Html.BeginForm("CalculateExceptionalRoofAbuttingToTallerConstruction", "SnowLoads"))
    {
        <div class="row">

            <div class="col-sm-6">
                    <a href="@Url.Action("Calculator", "SnowLoads")">
                <div class="snow-load-case">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalRoofAbuttingToTallerConstruction.png" alt="Exceptional Roof Abutting To Taller Construction" />
                </div>
                    </a>
                @*<div id="dvCategoryResults">
                        @{Html.RenderPartial("_MonopitchRoofResults", Model.SnowLoadMonopitchRoof.MonopitchRoof);}
                    </div>*@
            </div>
            <div class="col-sm-6">

                @Html.Partial("_BuildingSite", Model, new ViewDataDictionary() { { "Exceptional", true } })

                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.UpperBuildingWidth, "Upper building width")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.UpperBuildingWidth,
                   new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
                       @type = "number", @step = ".1" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.LowerBuildingWidth, "Lower building width")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.LowerBuildingWidth,
                   new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
                       @type = "number", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.HeightDifference, "Height difference")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.HeightDifference,
                   new { @class = "form-control", @placeholder = "Enter height in meters", Value = "",
                       @type = "number", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.Angle, "Smaller roof angle")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadRoofAbuttingToTallerConstruction.ExceptionalRoofAbuttingToTallerConstruction.Angle,
                   new { @class = "form-control", @placeholder = "Enter angle in degrees", Value = "",
                       @type = "number", @step = ".1" })
                </div>

                <div class="form-group">
                    <button type="submit" name="calculate" id="calculate" value="calculate" class="btn btn-info pull-right" required="required">Calculate</button>
                </div>
            </div>
        </div>
    }

</div>
@Scripts.Render("~/Scripts/snow.loads.js")

