@model KPK_CalcSite.Models.SnowLoads.ExceptionalSnowLoadSnowBehindParapet
@{
    ViewBag.Title = "ExceptionalSnowBehindParapetResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exceptional Snow Behind Parapet Result</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_BuildingSiteResult", Model.BuildingData)
        </div>
        <div class="col-md-6">
            <h3>Roof geometry:</h3>
            <ul>
                <li><strong>Building width:</strong> @Model.ExceptionalSnowBehindParapet.Width m</li>
                <li><strong>Height difference:</strong> @Model.ExceptionalSnowBehindParapet.HeightDifference m</li>
            </ul>

            <h3>Snow loads:</h3>
            <ul>
                <li><strong>Drift length:</strong> @Math.Round(Model.ExceptionalSnowBehindParapet.DriftLength, 3) m</li>
                <li><strong>Shape coefficient:</strong> @Math.Round(Model.ExceptionalSnowBehindParapet.ShapeCoefficient, 3)</li>
                <li class="score"><strong>Snow load:</strong> @Math.Round(Model.ExceptionalSnowBehindParapet.SnowLoad, 3) kN/m<sup>2</sup></li>
            </ul>

                <a href="@Url.Action("Calculator", "SnowLoads")">
            <div class="snow-load-case">
                    <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalSnowBehindParapet.png" alt="Exceptional Snow Behind Parapet" />
            </div>
                </a>
        </div>
    </div>
</div>