@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    ViewBag.Title = "ExceptionalOverDoorOrLoadingBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exceptional Over Door Or Loading Bay</h2>

<div class="submit-container">

    @using (Html.BeginForm("CalculateExceptionalOverDoorOrLoadingBay", "SnowLoads"))
    {
        <div class="row">

            <div class="col-sm-6">
                    <a href="@Url.Action("Calculator", "SnowLoads")">
                <div class="snow-load-case">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalOverDoorOrLoadingBay.png" alt="Exceptional Over Door Or Loading Bay" />
                </div>
                    </a>
                @*<div id="dvCategoryResults">
                        @{Html.RenderPartial("_MonopitchRoofResults", Model.SnowLoadMonopitchRoof.MonopitchRoof);}
                    </div>*@
            </div>
            <div class="col-sm-6">

                @Html.Partial("_BuildingSite", Model, new ViewDataDictionary() { { "Exceptional", true } })

                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.WidthAboveDoor, "Width of roof above door")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.WidthAboveDoor,
                   new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
                       @type = "number", @step = ".1", @max="5" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.HeightDifference, "Height difference")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.HeightDifference,
                   new { @class = "form-control", @placeholder = "Enter height in meters", Value = "",
                       @type = "number", @step = ".1"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.BuildingWidth, "Building width")
                    @Html.TextBoxFor(m => m.ExceptionalSnowLoadOverDoorOrLoadingBay.ExceptionalOverDoorOrLoadingBay.BuildingWidth,
                   new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
                       @type = "number", @step = ".1" })
                </div>

                <div class="form-group">
                    <button type="submit" name="calculate" id="calculate" value="calculate" class="btn btn-info pull-right" required="required">Calculate</button>
                </div>
            </div>
        </div>
    }

</div>
@Scripts.Render("~/Scripts/snow.loads.js")

