@model KPK_CalcSite.Models.SnowLoads.ExceptionalSnowLoadOverDoorOrLoadingBay
@{
    ViewBag.Title = "ExceptionalOverDoorOrLoadingBayResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exceptional Over Door Or Loading Bay Result</h2>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_BuildingSiteResult", Model.BuildingData)
        </div>
        <div class="col-md-6">
            <h3>Roof geometry:</h3>
            <ul>
                <li><strong>Width above door:</strong> @Model.ExceptionalOverDoorOrLoadingBay.WidthAboveDoor m</li>
                <li><strong>Height difference:</strong> @Model.ExceptionalOverDoorOrLoadingBay.HeightDifference m</li>
                <li><strong>Building Width:</strong> @Model.ExceptionalOverDoorOrLoadingBay.BuildingWidth m</li>
            </ul>

            <h3>Snow loads:</h3>
            <ul>
                <li><strong>Drift length:</strong> @Math.Round(Model.ExceptionalOverDoorOrLoadingBay.DriftLength, 3) m</li>
                <li><strong>Shape coefficient:</strong> @Math.Round(Model.ExceptionalOverDoorOrLoadingBay.ShapeCoefficient1, 3)</li>
                <li class="score"><strong>Snow load:</strong> @Math.Round(Model.ExceptionalOverDoorOrLoadingBay.SnowLoad, 3) kN/m<sup>2</sup></li>
            </ul>

                <a href="@Url.Action("Calculator", "SnowLoads")">
            <div class="snow-load-case">
                    <img class="snow-load-link" src="~/Content/Images/SnowLoads/ExceptionalOverDoorOrLoadingBay.png" alt="Exceptional Over Door Or Loading Bay" />
            </div>
                </a>
        </div>
    </div>
</div>