@model KPK_CalcSite.Models.SnowLoads.SnowLoadMonopitchRoof
@{
    ViewBag.Title = "MonopitchRoofResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monopitch Roof Result</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_BuildingSiteResult", Model.BuildingData)
        </div>
        <div class="col-md-6">
            <ul>
                <li><strong>Slope:</strong> @Model.MonopitchRoof.Slope degrees</li>
                <li><strong>Shape coefficient:</strong> @Math.Round(Model.MonopitchRoof.ShapeCoefficient, 3)</li>
                <li><strong>Snow fences:</strong> @Model.MonopitchRoof.SnowFences</li>
                <li class="score"><strong>Snow load on roof:</strong> @Math.Round(Model.MonopitchRoof.SnowLoadOnRoofValue, 3) kN/m<sup>2</sup></li>
            </ul>

            <div class="snow-load-case">
                <a href="@Url.Action("Calculator", "SnowLoads")">
                    <img class="snow-load-link" src="~/Content/Images/SnowLoads/Monopitch.png" alt="Monopitched Roof" />
                </a>
            </div>
        </div>
    </div>
</div>
