@model KPK_CalcSite.Models.SnowLoads.SnowLoadPitchedRoof
@{
    ViewBag.Title = "PitchedRoofResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pitched Roof Result</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_BuildingSiteResult", Model.BuildingData)
        </div>
        <div class="col-md-6">
            <h3>Left Roof:</h3>
            <ul>
                <li><strong>Slope:</strong> @Model.PitchedRoof.LeftRoof.Slope degrees</li>
                <li><strong>Shape coefficient:</strong> @Math.Round(Model.PitchedRoof.LeftRoof.ShapeCoefficient, 3)</li>
                <li><strong>Snow fences:</strong> @Model.PitchedRoof.LeftRoof.SnowFences</li>
            </ul>
            <h3>Right Roof:</h3>
            <ul>
                <li><strong>Slope:</strong> @Model.PitchedRoof.RightRoof.Slope degrees</li>
                <li><strong>Shape coefficient:</strong> @Math.Round(Model.PitchedRoof.RightRoof.ShapeCoefficient, 3)</li>
                <li><strong>Snow fences:</strong> @Model.PitchedRoof.RightRoof.SnowFences</li>
            </ul>

            <h3>Snow load on roof:</h3>
            <ul>
                @for (int i = 0; i < Model.PitchedRoof.LeftRoofCasesSnowLoad.Count; i++)
                {
                    <li class="score">
                        <strong>Case @(i + 1):</strong> Left roof: @Math.Round(Model.PitchedRoof.LeftRoofCasesSnowLoad[i + 1], 3) kN/m<sup>2</sup>
                        - Right roof: @Math.Round(Model.PitchedRoof.RightRoofCasesSnowLoad[i + 1], 3) kN/m<sup>2</sup>
                    </li>
                }
            </ul>

            <div class="snow-load-case">
                <a href="@Url.Action("Calculator", "SnowLoads")">
                    <img class="snow-load-link" src="~/Content/Images/SnowLoads/PitchedRoof.png" alt="Pitched Roof" />
                </a>
            </div>
        </div>
    </div>
</div>