@model KPK_CalcSite.Models.SnowLoads.SnowLoadRoofAbuttingToTallerConstruction
@{
    ViewBag.Title = "RoofAbuttingToTallerConstructionResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roof Abutting To Taller Construction Result</h2>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_BuildingSiteResult", Model.BuildingData)
            }
            else
            {
                <h4><a href="@Url.Action("Login", "Account", routeValues: null)">Login</a> to see more details.</h4>
            }
            <ul>
                <li><strong>Snow density:</strong> @Model.RoofAbuttingToTallerConstruction.Building.SnowLoad.SnowDensity kN/m<sup>3</sup></li>
            </ul>
        </div>
        <div class="col-md-6">
            @if (Request.IsAuthenticated)
            {
                <h3>Upper roof:</h3>
                <ul>
                    <li><strong>Width:</strong> @Model.RoofAbuttingToTallerConstruction.WidthOfUpperBuilding m</li>
                    <li><strong>Slope:</strong> @Model.RoofAbuttingToTallerConstruction.UpperRoof.Slope degrees</li>
                    <li>
                        <strong>Shape coefficient:</strong> @Math.Round(Model.RoofAbuttingToTallerConstruction.UpperRoof.ShapeCoefficient, 3)
                    </li>
                    <li><strong>Snow fences:</strong> @Model.RoofAbuttingToTallerConstruction.UpperRoof.SnowFences</li>
                    <li><strong>Snow load:</strong> @Model.RoofAbuttingToTallerConstruction.UpperRoof.SnowLoadOnRoofValue kN/m<sup>2</sup></li>
                </ul>

                <h3>Data:</h3>
                <ul>
                    <li><strong>Width of lower building:</strong> @Model.RoofAbuttingToTallerConstruction.WidthOfLowerBuilding m</li>
                    <li><strong>Height difference:</strong> @Model.RoofAbuttingToTallerConstruction.HeightDifference m</li>
                    <li><strong>Shape coefficient - sliding snow:</strong> @Model.RoofAbuttingToTallerConstruction.ShapeCoefficientSlidingSnow</li>
                    <li><strong>Shape coefficient - wind:</strong> @Model.RoofAbuttingToTallerConstruction.ShapeCoefficientWind</li>
                    <li><strong>Shape coefficient:</strong> @Model.RoofAbuttingToTallerConstruction.ShapeCoefficient</li>
                    <li><strong>Shape coefficient at the end:</strong> @Model.RoofAbuttingToTallerConstruction.ShapeCoefficientAtTheEnd</li>
                    <li><strong>Drift length:</strong> @Model.RoofAbuttingToTallerConstruction.DriftLength m</li>
                </ul>
            }

            <h3>Snow load on roof:</h3>
            <ul>
                <li class="score">
                    <strong>Closer to the taller building:</strong> @Math.Round(Model.RoofAbuttingToTallerConstruction.SnowLoadOnRoofValue, 3) kN/m<sup>2</sup>
                </li>
                <li class="score">
                    <strong>Closer to the edge:</strong> @Math.Round(Model.RoofAbuttingToTallerConstruction.SnowLoadOnRoofValueAtTheEnd, 3) kN/m<sup>2</sup>
                </li>
            </ul>

            <a href="@Url.Action("Calculator", "SnowLoads")">
                <div class="snow-load-case">
                    @if (Model.RoofAbuttingToTallerConstruction.DriftLength <= Model.RoofAbuttingToTallerConstruction.WidthOfLowerBuilding)
                    {
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/RoofAbuttingToTallerConstruction_1.png" alt="Multispan Roof" />
                    }
                    else
                    {
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/RoofAbuttingToTallerConstruction_2.png" alt="Multispan Roof" />
                    }
                </div>
            </a>
        </div>
    </div>
</div>