@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    ViewBag.Title = "Roof Abutting To Taller Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roof Abutting To Taller Construction</h2>

<div class="submit-container">
    @using (Html.BeginForm("CalculateRoofAbuttingToTallerConstruction", "SnowLoads"))
    {
        <div class="row">

            <div class="col-sm-6">
                    <a href="@Url.Action("Calculator", "SnowLoads")">
                <div class="snow-load-case">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/RoofAbuttingToTallerConstruction_1.png"
                             alt="Roof Abutting To Taller Construction" />
                </div>
                    </a>
            </div>
            <div class="col-sm-6">

                @Html.Partial("_BuildingSite", Model, new ViewDataDictionary() { { "Exceptional", false } })

              
                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
               BuildingData.SnowLoad.SnowDensity, "Snow density")
                    <select onchange="checkSnowType(this.value)" id="snowType">
                        <option value="fresh">Fresh</option>
                        <option value="settled" selected>Settled</option>
                        <option value="old">Old</option>
                        <option value="wet">Wet</option>
                    </select>
                    <input type="number" min="2.5" max="3.5" step=".1" value="2.5"
                           id="snowDensity" class="form-control collapse" onchange="checkSnowType('old')" />
                    @Html.TextBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
               BuildingData.SnowLoad.SnowDensity,
               new { @class = "form-control collapse", @placeholder = "Enter snow density in kN/m3",
                   Value = "2", @type = "text", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
               RoofAbuttingToTallerConstruction.UpperRoof.Slope, "Upper roof slope")
                    @Html.TextBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
               RoofAbuttingToTallerConstruction.UpperRoof.Slope,
               new { @class = "form-control", @placeholder = "Enter slope in degrees", Value = "",
                   @type = "number", @step = "1" })
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
               RoofAbuttingToTallerConstruction.UpperRoof.SnowFences) @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
RoofAbuttingToTallerConstruction.UpperRoof.SnowFences, "Snow fences on upper roof")
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.WidthOfUpperBuilding, "Width of upper building")
                @Html.TextBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.WidthOfUpperBuilding,
           new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
               @type = "number", @step = "0.5" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.WidthOfLowerBuilding, "Width of lower building")
                @Html.TextBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.WidthOfLowerBuilding,
           new { @class = "form-control", @placeholder = "Enter width in meters", Value = "",
               @type = "number", @step = "0.5" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.HeightDifference, "Height difference")
                @Html.TextBoxFor(m => m.SnowLoadRoofAbuttingToTallerConstruction.
           RoofAbuttingToTallerConstruction.HeightDifference,
           new { @class = "form-control", @placeholder = "Enter height in meters", Value = "",
               @type = "number", @step = "0.1" })
            </div>

            <div class="form-group">
                <button type="submit" name="calculate" id="calculate" value="calculate" class="btn btn-info pull-right" required="required">Calculate</button>
            </div>
            </div>
</div>
}

</div>
@Scripts.Render("~/Scripts/snow.loads.js")