@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    ViewBag.Title = "SnowOverhanging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Snow Overhanging</h2>


<div class="submit-container">
    @using (Html.BeginForm("CalculateSnowOverhanging", "SnowLoads"))
    {
        <div class="row">

            <div class="col-sm-6">
                    <a href="@Url.Action("Calculator", "SnowLoads")">
                <div class="snow-load-case">
                        <img class="snow-load-link" src="~/Content/Images/SnowLoads/SnowOverhanging.png"
                             alt="Snow Overhanging" />
                </div>
                    </a>
                @*<div id="dvCategoryResults">
                        @{Html.RenderPartial("_MonopitchRoofResults", Model.SnowLoadMonopitchRoof.MonopitchRoof);}
                    </div>*@
            </div>
            <div class="col-sm-6">

                @Html.Partial("_BuildingSite", Model, new ViewDataDictionary() { { "Exceptional", false } })


                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadSnowOverhanging.
               BuildingData.SnowLoad.SnowDensity, "Snow density")
                    <select onchange="checkSnowType(this.value)" id="snowType">
                        <option value="fresh">Fresh</option>
                        <option value="settled">Settled</option>
                        <option value="old" selected>Old</option>
                        <option value="wet">Wet</option>
                    </select>
                    <input type="number" min="2.5" max="3.5" step=".1" value="3"
                           id="snowDensity" class="form-control collapse" onchange="checkSnowType('old')" />
                    @Html.TextBoxFor(m => m.SnowLoadSnowOverhanging.
               BuildingData.SnowLoad.SnowDensity,
               new { @class = "form-control collapse", @placeholder = "Enter snow density in kN/m3",
                   Value = "3", @type = "text", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadSnowOverhanging.
               SnowOverhanging.SnowLayerDepth, "Snow layer depth")
                    @Html.TextBoxFor(m => m.SnowLoadSnowOverhanging.
               SnowOverhanging.SnowLayerDepth,
               new { @class = "form-control", @placeholder = "Enter snow layer depth in meters", Value = "",
                   @type = "number", @step = ".1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SnowLoadSnowOverhanging.
               SnowOverhanging.SnowLoadOnRoofValue, "Snow load on roof")
                    @Html.TextBoxFor(m => m.SnowLoadSnowOverhanging.
               SnowOverhanging.SnowLoadOnRoofValue,
               new { @class = "form-control", @placeholder = "Enter snow load in kN/m2", Value = "",
                   @type = "number", @step = "0.1" })
                </div>


                <div class="form-group">
                    <button type="submit" name="calculate" id="calculate" value="calculate" class="btn btn-info pull-right" required="required">Calculate</button>
                </div>
            </div>
        </div>
    }

</div>
@Scripts.Render("~/Scripts/snow.loads.js")