@model KPK_CalcSite.Models.MailModels
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ContactForm", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
{
    <div class="submit-container">
        <div class="row">

            <div class="col-sm-6">
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, "First Name*")
                    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "Enter First Name", @type = "text", @required="" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, "Last Name*")
                    @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Enter Last Name", @type = "text", @required = "" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "Email*")
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Email", @type = "email", @class = "form-control", @required = "" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Telephone, "Contact No.")
                    @Html.TextBoxFor(m => m.Telephone, new { @placeholder = "Enter Contact No.", @type = "text" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Country, "Country")
                    @Html.DropDownListFor(m => m.Country, KPK_CalcSite.Models.MailModels.Coutries, new { @placeholder = "Enter Contact No.", @type = "text" })
                </div>

            </div>

            <div class="col-sm-6">

                <div class="form-group">
                    @Html.LabelFor(m => m.Message, "Message*")
                    @Html.TextAreaFor(m => m.Message, new { @placeholder = "Enter Message.", @type = "text", @rows = "5", @required = "" })
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" required="required">Submit Message</button>
                </div>

            </div>

        </div>

    </div>
}
<address>
    Konrad Kania<br />
    Łódź<br />
    <abbr title="Phone">P:</abbr>
    796-531-309
</address>

<address>
    <strong>Questions and comments:</strong>   <a href="mailto:kania.konrad92@gmail.com">kania.konrad92@gmail.com</a><br />
</address>